<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>System-Overview</title>
</head>
<body>

<h2 th:text="System-Overview"/>

<p>Actual response of: <b><span th:text="${systeminfo.instanceId}"></span></b> at Time: <b><span
        th:text="${timestamp}"></span></b></p>
<table>
    <thead>
    <tr>
        <th> Instance-ID</th>
        <th> Friends</th>
        <th> Requests</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="system : ${systemOverview}">
        <td><span th:text="${system.key}"> Instance-ID </span></td>
        <td><span th:text="${system.value.friends}"> Friends </span></td>
        <td><span th:text="${system.value.requests}"> Requests </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>